<mat-card fxLayout="row" style="max-width: 360px">
  <div [@openClose]="layerMenuState ? 'open' : 'closed'" style="overflow: hidden" fxLayout="column" fxLayoutGap="12px">

    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <div cdkDrag class="map-selector" *ngFor="let map of maps; let i = index">
        <div class="map-operation-box" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
          <button mat-icon-button cdkDragHandle>
            <mat-icon>
              reorder
            </mat-icon>
          </button>

          <div fxLayout="column" fxLayoutGap="8px" fxFlex="156px">
            <div>
              <p [matTooltip]="map.name">{{map.name}}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" style="overflow: visible">
              <mat-checkbox [(ngModel)]="map.visible" (change)="changeVisible(map, $event)"></mat-checkbox>
              <mat-slider min="0" max="1" step="0.01" [(ngModel)]="map.opacity" (change)="changeOpacity(map, $event)" fxFlex></mat-slider>
            </div>
          </div>
          <button mat-icon-button (click)="onClickDeleteLayer(map.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <button mat-icon-button (click)="onClickAddLayer()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div>
    <button mat-icon-button (click)="layerMenuState = !layerMenuState">
      <mat-icon>layers</mat-icon>
    </button>
  </div>
</mat-card>