/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-slider.mat-slider-horizontal {
    height: 24px;
    .mat-slider-wrapper {
        top: 12px;
    }
}
  